body{
  background: #e8f1f1;
}

#App {
  text-align: center;
}

#App-logo {
  height: 40px;
}

#App-header {
  background-color: #549c9c;
  height: 100px;
  padding: 20px;
  color: white;
  font-family: monospace;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#TheCalculator {
  margin-top: 50px;
  width: 600px;
  background-color: #bbbdbd;
  height:700px;
  display: inline-block;
}

