#TheNumberPad{
  width: 350px;
  margin-top: 5px;
  display: inline-block;
}

#TheOperatorPad{
  width: 150px;
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
}
}

#TheKeyPad .KeyPadButton{
  font-size: x-large;
  font-family: sans-serif;
  cursor: pointer;
  color: #3e4a46;
  border:none;
  background-color: #eceae7;
}

#TheKeyPad .NumberPadButton{
  padding: 15px 30px;
  margin: 12px 15px;
}

#TheKeyPad .OperatorPadButton{
  padding: 15px 0;
  width: 135px;
  margin: 12px 0;
}

#TheKeyPad .KeyPadButton:hover{
  color: #3e4a46;
  background-color: #fbf9f7;
}

#TheKeyPad .KeyPadButton:focus{
  outline:none;
}

#TheKeyPad .NumberPadButton:nth-child(1),
#TheKeyPad .NumberPadButton:nth-child(2),
#TheKeyPad .NumberPadButton:nth-child(3),
#TheKeyPad .OperatorPadButton:nth-child(1){
  margin-top: 30px;
}

#TheKeyPad .NumberPadButton:nth-child(1),
#TheKeyPad .NumberPadButton:nth-child(4),
#TheKeyPad .NumberPadButton:nth-child(7),
#TheKeyPad .NumberPadButton:nth-child(10){
  margin-left: 5px;
}

#TheKeyPad #PointButton{
  width: 178px;
}
