.NumberKeyPad{
  display: inline-block;
  width: 350px;
  margin-top: 75px;
}

#TheKeyPad .KeyPadButton{
  font-size: x-large;
  font-family: sans-serif;
  cursor: pointer;
  color: #3e4a46;
  border:none;
  background-color: #eceae7;
}

#TheKeyPad .NumberPadButton{
  padding: 15px 30px;
  margin: 12px 15px;
}

#TheKeyPad .KeyPadButton:hover{
  color: #3e4a46;
  background-color: #fbf9f7;
}

#TheKeyPad .KeyPadButton:focus{
  outline:none;
}

#TheKeyPad .NumberPadButton:nth-child(1),
#TheKeyPad .NumberPadButton:nth-child(2),
#TheKeyPad .NumberPadButton:nth-child(3){
  margin-top: 30px;
}

#TheKeyPad .NumberPadButton:nth-child(1),
#TheKeyPad .NumberPadButton:nth-child(4),
#TheKeyPad .NumberPadButton:nth-child(7),
#TheKeyPad .NumberPadButton:nth-child(10){
  margin-left: 5px;
}

#TheKeyPad #PointButton{
  width: 178px;
}
